{% extends 'referrals/referral_base.html' %}
{% load i18n humanize %}

{% block head_title %}{% trans 'Referrals' %}{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>{% trans 'Latest 50 Referrals Added' %}</h2>
        {% if user.is_authenticated %}
        <p><a class="btn  btn-default" href="{% url 'referral_add' %}">{% trans "Add a new Referral!" %}</a></p>
        {% endif %}
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
        {% for referral in latest %}
            <a href="{% url 'referral_detail' referral.pk referral.slug %}" class="list-group-item">
            <h4 class="list-group-item-heading">
            {{ referral.title }} <span class="label label-info">{{ referral.company }}</span>
            </h4>
            <p class="list-group-item-text">
            {{ referral.info }}
                <span class="badge pull-right">{{ referral.created_at|naturaltime }}</span>
            </p>
                
            
            </a>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
