{% load static %}
{% load extra_tags %}
{% load account socialaccount %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block head_title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/lumen.min.css' %}">
    <link rel='shortcut icon' href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel='icon' href='{% static "img/favicon.ico" %}' type='image/x-icon'>
    
    <link type="application/atom+xml" rel="alternate" href="{% url 'feeds_latest_referrals_atom' %}" />
    <link type="application/rss+xml" rel="alternate" href="{% url 'feeds_latest_referrals_rss' %}" />
    
    {% block extra_head %}
    
    {% endblock %}
  </head>
  <body>
      <div class="container">
              <header class="header">
      
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> <b>{{ SITE_TITLE }} </b></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span> <b>Referrals</b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'referral_add' %}"><span class="glyphicon glyphicon-plus-sign"></span> Add New</a></li>
                    <li><a href="{% url 'user_referral_list' user.username %}"><span class="glyphicon glyphicon-list-alt"></span> My Referrals</a></li>
                    {% endif %}
                    <li><a href="{% url 'referral_list' %}"><span class="glyphicon glyphicon-list"></span> All Referrals</a></li>
                    <li><a href="{% url 'categories' %}"><span class="glyphicon glyphicon-tags"></span>&nbsp;All Categories</a></li>
                    <li><a href="{% url 'referral_archive' %}"><span class="glyphicon glyphicon-calendar"></span> Referral Archive</a></li>
                    
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <b> 
                    {% if user.is_authenticated %}
                        {% user_display user %}
                    {% else %}
                        Accounts
                    {% endif %}
                    </b> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                    {% if request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-dashboard"></span> {% trans "Admin" %}</a></li>
                    {% endif %}
                    <li><a href="{% url 'userprofile_detail' request.user.id %}"><span class="glyphicon glyphicon-tasks"></span> Profile</a></li>
                    <li><a href="{% url 'userprofile_list' %}"><span class="glyphicon glyphicon-globe"></span> Users</a></li>
                    <li><a href="{% url 'account_email' %}"><span class="glyphicon glyphicon-cog"></span> Change E-mail</a></li>
                    <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}{% if current_path %}?next={{ current_path }}{% endif %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}{% if current_path %}?next={{ current_path }}{% endif %}"><span class="glyphicon glyphicon-tower"></span> Sign Up</a></li>
                    {% endif %}
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url 'search' %}" method='get'>
              <div class="form-group">
                <input type="search" class="form-control" placeholder="Search" name='q' value='{{ form.q.value }}'>
              </div>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      
    </header>
          {% for message in messages %}
          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissable" id="message_{{ forloop.counter }}">
            
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ message.tags|upper }}!</strong> {{ message }}.
            
          </div>
        {% endfor %}
          
        {% block body %}
          
          
            {% block content %}

            {% endblock content %}
        {% endblock body %}
          <hr>
    {% block extra_body %}
          {% footer_links %}
    {% endblock extra_body %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src={% static "js/jquery.min.js" %}>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
          {% block extra_js %}
          {% endblock extra_js %}
        </div>
  </body>
</html>
